{% extends "layout.html" %}

{% from 'crud-macros.html' import render_pagination, td_cell, th_cell, sort_url %}

{% block extra_headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/' + request.blueprint + '/list.css') }}">
{% endblock %}

{% block main %}
  <div class="ui page grid">
    <div class="row">
      <% if (searchable) { %>
      <div class="sixteen wide column right aligned">
        <div class="ui right aligned search">
          <form class="ui icon input">
            <input class="prompt" type="text" name='kw' placeholder="{{ _('Search %(model_name)s', model_name=_('<%= modelName %>')) }} ..." value="{{ request.args.kw }}">
            <i class="search icon"></i>
          </form>
          <div class="results"></div>
        </div>
      </div>
      <% } %>
      <div class="sixteen wide column">
        <div class="ui attached top segment" id="control-panel">
          <div class="ui middle aligned grid">
            <div class="row">
              <div class='actions three wide column'>
                <div class="header ui horizontal segment">
                  <a href="{{ url_for('.object_view', next=request.url) }}">
                    <div class="ui animated positive fade tiny button">
                      <div class="hidden content">
                        {{ _('Create') }}
                      </div>
                      <div class="visible content">
                        <i class="icon plus"></i>
                      </div>
                    </div>
                  </a>
                  <button class="ui animated negative fade remove tiny button">
                    <div class="hidden content">
                      {{ _('Remove') }}
                    </div>
                    <div class="visible content">
                      <i class="icon remove"></i>
                    </div>
                  </button>
                </div>
              </div>
              <div class="filters thirteen wide column">
                <div class="header ui horizontal segment"></div>
              </div>
            </div>
          </div>
        </div>
        {% if objs %}
        <table class="table ui attached segment">
          <thead>
            <tr>
              <th>
                <input type="checkbox">
              </th>
              {% for col in mapper.columns %}
                {{ th_cell(col) }}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for obj in objs %}
              <tr>
                <td><input type="checkbox" data-id="{{ obj.id }}"></td>
                {% for col in mapper.columns %}
                  {{ td_cell(col, obj) }}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <div class="ui info message">
            <span>-- {{ _(" No items ") }} --</span>
          </div>
        {% endif %}
        <div class="ui inverted dimmer mask">
          <div class="ui indeterminate text loader"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        {{ render_pagination(pagination) }}
      </div>
    </div>
  </div>
{% endblock %}


{% macro bust() -%}{% if config.DEBUG %}?bust={{ range(1, 999999)|random }}{% endif %}{%- endmacro %}

{% block extra_tails %}
  <script src='{{ url_for('static', filename='bower_components/requirejs/require.js') }}' data-main='{{ url_for('static', filename='js/' + request.blueprint + '/list/main.js') }}{{ bust() }}'></script>
{% endblock %}
